@import "import/_variable.scss";
@import "import/mixins";

* {
 margin:0;
 padding:0;
 }

/*en-tête, encadrement, présent sur toutes les pages*/
header {
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    background-color: $primary-color;
    height: 6em;
    -webkit-box-pack: center;
        -moz-flex-pack: center;
            justify-content: center;
    border-bottom: solid 2px $heading-color;
    margin-bottom: 1em;
        @include mobile {
            height: 4em;
    }
}

/*en-tête, logo, présent sur toutes les pages*/
h1,
h1 a {
    font-size: 60px;
    letter-spacing: -5px;
    color: $heading-color;
    margin: auto;
        @include mobile {
            font-size: 50px;
    }
}

.container {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main{
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -moz-flex-flow: row wrap;
            flex-flow: row wrap;
    -moz-flex-pack: distribute;
        justify-content: space-around;
    
    max-width: 65em;
    margin: auto;
    
}

section{
    margin-top: 2em;
}

/*les cadres des 4menus*/
.frame{
    -webkit-box-shadow: 0 0 15px;
    -moz-box-shadow: 0 0 15px;
            box-shadow: 0 0 15px;
    width: 500px;
    height: 500px;
    text-align: center;
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -moz-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -moz-flex-align: center;
            align-items: center; 
    margin-bottom: 2em;  
        @include mobile {
            width: 300px;
            height: 350px;
            margin-top: 1px;
            margin-bottom: 1px;
  }
}

/*couleur de fond menus 1 à 3*/
.background{
    max-height: 500px;
    background-color:$color-menu1-primary;
}
.background2{
    background-color:$color-menu2-primary;
    max-height: 500px;
} 
.background3{
    background-color:$color-menu3-primary;
    max-height: 500px;
}

/*animation identique sur chaque frame*/
.btn{
            &:hover{
            -webkit-transform: scale(1,2);
                    transform: scale(1,2);
            opacity: 0.8;
            -webkit-transition: -webkit-transform 300ms;
            transition: -webkit-transform 300ms;
            transition: transform 300ms;
            transition: transform 300ms, -webkit-transform 300ms;
    }
}
        .btn1{
            color: #3c1218;
            font-family: 'devonshire', serif;
            font-size: 1.5em;
            font-weight: normal;
                @include mobile {
                    font-size: 1.2em;
  }
}
        .btn2{    
            color: #c77412;
            font-family: 'Redressed', serif;
            background: -webkit-gradient(linear, left top, right top, color-stop(5%, #d8852e), color-stop(95%, #905bfd));
            background: linear-gradient(to right, #d8852e 5%, #905bfd 95%);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.5em;
            padding-top: 1.5em;
                @include mobile {
                    font-size: 1.2em;
  }
}
            
        .btn3{
            color: #1789f9;
            font-family: 'Kalam', serif;   
            background: -webkit-linear-gradient(left, #0229dd 5%, #0889fb 95%);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.5em;
            padding-top: 1.5em;
                @include mobile {
                    font-size: 1.2em;
  }
}
        .btn4{
            color: #72bf56;
            font-family: "kaushan script";
            background: 
            -webkit-linear-gradient(left, #43973d, #beff7f);
            -webkit-background-clip: text;
            color: transparent;
            font-size: 1.5em;
            padding-top: 1.5em;
        }

.btn1 span{
    font-family: 'Sriracha', serif; 
}

.btn2 span{
    font-family: 'Cantata One', serif;
    color: #c77412;
}

.btn3 span{
    font-family: 'Dancing Script', serif;
    color: #1789f9;
}

.btn4 span{
    font-family: 'Kalam', serif;
    color: #72bf56;
}

/* note de musique */
    section img{     
    width: 4em;
        @include mobile { 
            width: 2em;
  }
}

/*propriété du bouton prochainement*/
button{
    background: $primary-color;
    width: 500px;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 5.5em;
    border-radius: 10px; 
    display: -webkit-box; 
    display: -moz-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -moz-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -moz-flex-align: center;
            align-items: center;
    font-size: 1.7em;
    color: #fdcb46;
        @include mobile {
            width: 300px;
            height: 30px;
            font-size: 1.2em;
    }
}

/*animation points de suspensions*/
button span {
    margin-bottom: 10px;
    font-size: 1.5em;
    -webkit-animation: dots 2s ease-in-out infinite;
            animation: dots 2s ease-in-out infinite;
        @include mobile {
            font-size: 1.2em;
            margin-bottom: 2px;
    }
}

button span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

button span:nth-child(3) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}   

@-webkit-keyframes dots {
  50% {
    opacity: 0;
  }
}   

@keyframes dots {
  50% {
    opacity: 0;
  }
}

a:link
{
text-decoration:none;
}

/* footer présent sur toutes les pages */

footer { /*mentions legales et contactez-nous*/
    border-top: solid 2px $heading-color;
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-pack: justify;
        -moz-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -moz-flex-align: center;
            align-items: center;
    bottom: 1px;    
    background-color: $primary-color;
    width: 100%;
    height: 5em; 
        @include mobile {
            font-size: 10px;
             
    }
}

footer a{ /*texte*/
    margin-left: 2em;
    margin-right: 2em;
    font-family:'Kanit', serif;
    font-size: 1.2em;
    cursor: pointer;
    color: $heading-color;
        @include mobile {
            font-size: 1.1em;        
    }
}

footer h3:hover {
  cursor: pointer;
  -webkit-animation: headshake 80ms ease-in-out;
          animation: headshake 80ms ease-in-out;
  -webkit-animation-iteration-count: 20;
          animation-iteration-count: 20;
}

@-webkit-keyframes headshake {
  0% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}
    
 /* la note enchantée */ 

 #carte_1 {
    background-color: $color-menu1-primary;
    width: 80%;
    margin-bottom: 8em;
    min-height: 100vh;
        @include mobile {
            width: 100%;
    }
        @include tablet {
            width: 100%;
    }
} 

.nom_resto {
    text-align: center;
    font-size: 1.7em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
        @include mobile {
            font-size: 1.4em;
    }
}

.note { /*note musique haut de page*/    
    width: 9em;
    margin-top: 2em;  
        @include mobile {
            width: 6em;
    }
}

.titre_menu h2 { /*la note enchantée haut*/
    color: #3c1218;
    font-family:  'devonshire', serif;
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 3em;  
        @include mobile {
            font-size: 2em;
            margin-bottom: 0em;
    }
}

.menu_section {
    height: 320px;
    margin-bottom: 20px;
    margin-top: 20px;   
        @include mobile {
            width: 100%;
            margin-bottom: 0px;
            text-align: justify;
        }
        @include tablet {
            width: 100%;
            height: 250px;
    }
}

/*soulignement des sous-titres*/
.plats h4 span {
  background-color: #3c1218;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  -webkit-transform-origin: left;
    -moz-transform-origin: left;
          transform-origin: left;
  
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

/*soulignement des sous-titres*/
.cartes .plats h4:hover > span {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.repas { /*texte repas*/
    font-family: 'Sriracha', serif;
    font-size: 1em;
    font-style: italic;
    margin-top: 20px;
    margin-right: 40px;
        @include mobile {
            margin-left: 10px;
            font-size: 15px;
            margin-right: 10px;    
        }
        @include tablet {
            margin-left: 10px;
        }
}

.cartes .plats h4 { /*titres*/
    font-family: 'Sriracha', serif;
    font-size: 1.6em;
    font-style: italic;
    color: #3c1218;
    position: relative;
        @include mobile {
            font-size: 1em;
    }
}

.plats { /*alignement plats*/
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    Justify-content: space-between;
}

.trait { /*element deco*/
    width: 30%;
}

.cartes {/*alignement texte et note*/
    display:-webkit-box;
    display:-moz-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
    -moz-flex-align: center;
    align-items: center;
}

.menu_footer {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-align: center;
      -moz-flex-align: center;
          align-items: center;
    display: -webkit-box;
    display: -moz-flexbox;
    display: flex;
    -webkit-box-pack: center;
      -moz-flex-pack: center;
          justify-content: center;
    @include mobile {
        width: 360px;
        height: 200px;
        margin-top: -220px;
    }
    @include tablet {
        height: 100px;
    }
}

.titre_bas { /* titre bas de page */
    font-size: 1.4em;
    margin-bottom: auto;
    font-family:
    'devonshire', serif;
    color: #3c1218; 
        @include mobile {
            margin-top: 130px;
    }
}

.note2 { /*Note bas*/
    margin-bottom: 90px;
    width: 10%;
    margin-right: 20px; 
        @include mobile {
            margin-bottom: 1px;
            margin-top: 90px;
        }
        @include tablet {
            margin-top: 0px;
            margin-bottom: 90px;
    }
}

/* Le chic à la française */

#carte_2 {
    background-color: $color-menu2-primary;
    width: 80%;
    margin-bottom: 8em;
    min-height: 100vh;
        @include mobile {
            width: 100%;
    }
        @include tablet {
            width:100%;
    }
}

.titre_menu2 {
    width: 100%;
        @include tablet {
            width: 100%;
            margin: auto;
    }
}
.titre_menu2 h2 { /*le chic à la française*/
    color: #c77412;
    font-family: 'Redressed', serif;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 4em;
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, #d8852e), color-stop(95%, #905bfd));
    background: linear-gradient(to right, #d8852e 5%, #905bfd 95%);
    -webkit-background-clip: text;
    color: transparent;
        @include mobile {
            font-size: 2em;
        }
        @include tablet {
            font-size: 2.7em;
    }
}

.menu_section2 {
    height: 350px;
    margin-bottom: 30px;
    width: 100%;
        @include mobile {
            width: 100%;
            margin-bottom: 0px;
            height: 250px;
            line-height: 2em;
        }
        @include tablet {
            margin-bottom: 0px;
            height: 250px;  
    }
}

/*soulignement des sous-titres*/
.plats h4 span {
    
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: left;
          transform-origin: left;
  
    -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.trait_m2 { /*element deco*/
    width: 25%;
        @include tablet { 
        width: 30%;
    }    
}

.menu_marron {
  font-family: 'Cantata One', serif;
  font-size: 1.3em;
  color: #c67412;
  margin-left: 50px;
  margin-top: 20px;
    @include mobile {
        margin-left: 5px;
        font-size: 1em;
        margin-top: 5px;
    }   
    @include tablet { 
        font-size: 1.1em;
        margin-left: 30px;
    }    
}

.prix_marron{
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    color: #c67412;
    margin-right: 50px;
    margin-top: 20px;  
        @include mobile {
            font-size: 1em;
            margin-right: 0px;
            margin-top: 5px;
        }
        @include tablet {    
            font-size: 1.3em;
            margin-right: 30px;
    }
}

.violet {
  font-family: 'Cantata One', serif;
  font-size: 1.3em;
  color: #a56799;
  margin-left: 50px;
  margin-top: 20px;
    @include mobile {
        font-size: 1em;
        margin-left: 5px;
        margin-top: 5px;
        width: 320px;
    }     
    @include tablet {
        font-size: 1.1em;
        margin-left: 30px;
    }    
}

.prix_violet {
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    color: #a56799;
    margin-right: 50px;
    margin-top: 20px; 
        @include mobile {
            font-size: 1em;
            margin-right: 0px;
            margin-top: 5px;
        }  
        @include tablet {
            font-size: 1.3em;
            margin-right: 30px;
    }
}


.bleu {
  font-family: 'Cantata One', serif;
  font-size: 1.3em;
  color: #6e4ccc;
  margin-left: 50px;
  margin-top: 20px;
    @include mobile {
        font-size: 1em;
        margin-left: 5px;
        margin-top: 5px;
    }    
    @include tablet {
        font-size: 1.1em;
        margin-left: 30px;
    } 
}

#subtitle_1 {
    font-family: 'Cantata One', serif;
    font-size: 1.9em;
    color: #c67412;
    @include mobile {
        font-size: 1em; 
    }
    @include tablet {
        font-size: 1.5em; 
        margin-top: 12px;
    }
}

#subtitle_2 {
    font-family: 'Cantata One', serif;
    font-size: 2em;  
    color: #a56799;
    @include mobile {
        font-size: 1em;
    }
    @include tablet {
        font-size: 1.5em; 
        margin-top: 12px;
    }
}

#subtitle_3 {
    font-family: 'Cantata One', serif;
    font-size: 2em;
    color: #6e4ccc;
    @include mobile {
        font-size: 1em;
    }
    @include tablet {
        font-size: 1.5em; 
        margin-top: 12px;
    }
}

/* Le delice des papilles */

#carte_3{
    background: $color-menu3-primary;
    width: 80%;
    margin-bottom: 8em;
    min-height: 100vh;
        @include mobile {
            width: 100%;
    }
        @include tablet {
            width:100%;
    }
}

.titre_menu3 h2 { /*Le delice des papilles */
    
    color: #1789f9;
    font-family: 'Kalam', serif;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 3em;
    background: linear-gradient(to right, blue, skyblue);
            -webkit-background-clip: text;
            color: transparent;
    @include mobile {
            font-size: 2em;
            margin-top: 40px;
            margin-bottom: 50px;
        }
        @include tablet {
            font-size: 3em; 
            margin-top: 1.5em;
            margin-bottom: 1.5em; 
    } 
}    
   
.menu_section3 {
    height: 300px;  
    margin-bottom: 20px;
    margin-top: 20px;
        @include mobile {
            width: 100%;
            margin-bottom: 0px;
            height: 200px;  
        }
        @include tablet {
            width: 100%;
            height: 300px;
    }
}

/*soulignement des sous-titres*/
.plats h4 span {
    background-color: #000000;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    
  -webkit-transform-origin: left;
          transform-origin: left;
  
    -webkit-transform: scaleX(0);
    transform: scaleX(0); 
}

/*soulignement des sous-titres*/
.cartes .plats h4:hover > span {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 1s;
  transition: all 1s;
  
}

.trait3 { /*element deco*/
    width: 30%;
        @include mobile {
            width: 25%;
        }
        @include tablet { 
            width: 30%;
    }    
}

.menu_3 {
    font-family: 'Dancing Script', serif;
    font-size: 1.3em;
    font-style: italic;
    margin-left: 40px;
    margin-top: 1em;
    line-height: 2em;
    color : RGB(70, 80, 80);
        @include mobile {
            margin-left: 5px;
            width: 300px;
            font-size: 14px;
            text-align: justify;
        }
        @include tablet {
            font-size: 1.2em;
            margin-left: 5px;
            line-height: 1em;
    }
}

/*PRIX*/
.repas3 {
    color : RGB(70, 80, 80);
    margin-right: 3em;
    font-size: 1.5em;
    margin-top: 1em;
        @include mobile {
            margin-right: 5px;
            font-size: 14px;
            margin-top: 1.5em;
        }
        @include tablet {
            margin-right: 1.2em;
            font-size: 1.2em;   
    }
}
#subtitle_6 {
    font-family: 'Cantata One', serif;
    font-size: 1.7em;
    color: RGB(70, 80, 80);
    @include mobile {
        font-size: 1em;
    }
    @include tablet {
        font-size: 1.5em; 
        margin-top: 12px;
    }
}


/*La palette du gout */

#carte_4{
    background: #ffffff;
    width: 80%;
    margin-bottom: 8em;
    min-height: 100vh;
        @include mobile {
            width: 100%;
    }
        @include tablet {
            width:100%;
    }
}

.titre_menu4 h2 { /*La palette du gout */
    color: #72bf56;
    font-family: "kaushan script";
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 4em;
    background: 
    -webkit-linear-gradient(left, #43973d, #beff7f);
    -webkit-background-clip: text;
    color: transparent; 
        @include mobile {
            font-size: 2em;
            margin-top: 40px;
            margin-bottom: 50px;
        }
        @include tablet {
            font-size: 3em; 
            margin-top: 1.5em;
            margin-bottom: 1.5em; 
    } 
}
.menu_section4 {
    height: 300px;  
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
        @include mobile {
            width: 100%;
            margin-bottom: 0px;
            height: 200px;  
        }
        @include tablet {
            width: 100%;
            height: 300px;
    }
}

.trait4 { /*element deco*/
    width: 34%;
        @include mobile {
            width: 25%;
        }
        @include tablet { 
            width: 30%;
    }    
}

/*soulignement des sous-titres*/
.carte4 .plats h4 span {
    background-color: #000000;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.menu_4 {
  font-family: 'Kalam', serif;
  font-size: 1.3em;
  font-style: italic;
  margin-left: 40px;
  color : RGB(70, 80, 80);
  line-height: 2em;
  margin-top: 20px;
    @include mobile {
        margin-left: 5px;
        font-size: 14px;
        line-height: 1em; 
        width: 270px;
        text-align: justify;
    }
    @include tablet {
        font-size: 1.2em;
        margin-left: 10px;
        line-height: 1.2em;
    }
}

/*PRIX*/
.repas4 {
    color : RGB(70, 80, 80);
    margin-right: 3em;
    font-size: 1.5em;
    margin-top: 1em;
        @include mobile {
            margin-right: 5px;
            font-size: 12px;
            margin-top: 1.5em;
        }
        @include tablet {
            margin-right: 1.2em;
            font-size: 1.2em;   
    }
}

#subtitle_7 {
    font-family: 'Kalam', serif;
    font-size: 1.7em;
    color: RGB(70, 80, 80);
    @include mobile {
        font-size: 1em;
    }
    @include tablet {
        font-size: 1.5em; 
        margin-top: 12px;
    }
}



/*mentions legales*/
.mention h5 {
    margin-top: 50px;
    text-align: center;
    color: $heading-color;
    font-size: 3em;
        @include mobile {     
            margin-top: 5px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 1.5em;
        }
        @include tablet {
            margin-top: 5px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 2em;
    }
}

section mention {
    width: 100%;
}

.mention {
    line-height: 2em;
    margin-right: 1em;
    margin-left: 1em;
    text-align: justify;
    margin-bottom: 7em;
        @include mobile {
            line-height: 1.5em;
        }
        @include tablet {
            line-height: 1.8em;
    }
}