
/* MENU  : "PAGE ACCUEIL" */
$primary-color: #579C87; /*couleur verte en-tête et pied de page*/

$heading-color: #fdcb46;/*couleur jaune titre en-tête et pied de page*/

/* MENU 1 : "LA NOTE ENCHANTEE" */
$color-menu1-primary: #fcdfdb; /*background*/

/* MENU 2 : "LE CHIC A LA FRANCAISE" */
$color-menu2-primary: #fff5fe; /*background*/

/* MENU 3 : "LE DELICE DES PAPILLES" */
$color-menu3-primary: #EDEFEF; /*background*/

